<!-- RADICAL START -->
<section class="block radical">
    <div class="container">
        <ul class="radical__list">
            <li class="radical__item">
                <h3 class="radical__item-title">
                    DUO C&P
                </h3>
                <p class="radical__descr">
                    препятствует образованию свободных радикалов
                </p>
            </li>
            <li class="radical__item">
                <h3 class="radical__item-title">
                    Экстракт куркумы
                </h3>
                <p class="radical__descr">
                    решает проблему,
                    а&nbsp;не&nbsp;ее&nbsp;видимые последствия
                </p>
            </li>
            <li class="radical__item">
                <h3 class="radical__item-title">
                    Действующие вещества
                </h3>
                <p class="radical__descr">
                    эффективнее мазей и таблеток
                </p>
            </li>
        </ul>
        <div class="radical__img-box">
            <img src="./img/product.png" alt="Curcumin">
        </div>
        <div class="radical__func">
            <h3 class="radical__pack-name">
                DUO C&P
            </h3>
            <p class="radical__text">
                положительно влияет
                на суставы, нейтрализируя свободные радикалы
            </p>
            <a class="radical__btn btn">
                Попробовать DUO C&P
            </a>
        </div>
    </div>
</section>
<!-- RADICAL END -->