.radical {
    background: #FFF9EF;
    padding-top: 68px;

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__btn {
        font-size: 28px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        font-size: 22px;
        width: 430px;
    }

    &__item {
        padding-left: 100px;
        background: url(../img/radical-check.png)no-repeat left top 0;
        letter-spacing: -.04em;
        &:not(:first-child) {
            margin-top: 33px;
        }
        &:last-child {
            padding-bottom: 2px;
        }
    }

    &__item-title {
        font-weight: 700;
    }

    &__descr {
        margin-top: 8px;
        line-height: 1.3;
    }

    &__img-box {
        font-size: 0;
        margin: -106px 0 -49px;
    }

    &__pack-name {
        color: #ffb400;
        font-size: 38px;
        font-weight: 700;
    }

    &__text {
        font-size: 32px;
        color: #342c24;
    }

    &__btn {
        padding: 15px 20px;
        width: 370px;
        text-align: center;
        margin-top: 50px;
    }
    
    &__func {
        width: 399px;
        padding-left: 30px;
        letter-spacing: -.11em;
    }

    &__text {
        margin-top: 12px;
        line-height: 1.25;
    }
}