<!-- EFFECT START -->
<section class="block effect">
    <div class="container">
        <ul class="effect__list">
            <li class="effect__item">
                <div class="effect__left body-icon">
                    <img src="./img/check.svg" alt="">
                </div>
                <div class="effect__right">
                    <h3 class="effect__item-title">
                        DUO C&P
                    </h3>
                    <p class="effect__descr">
                        препятствует образованию свободных радикалов
                    </p>
                </div>
            </li>
            <li class="effect__item">
                <div class="effect__left body-icon">
                    <img src="./img/check.svg" alt="">
                </div>
                <div class="effect__right">
                    <h3 class="effect__item-title">
                        Экстракт куркумы
                    </h3>
                    <p class="effect__descr">
                        решает проблему,
                        а&nbsp;не&nbsp;ее&nbsp;видимые последствия
                    </p>
                </div>
            </li>
            <li class="effect__item">
                <div class="effect__left body-icon">
                    <img src="./img/check.svg" alt="">
                </div>
                <div class="effect__right">
                    <h3 class="effect__item-title">
                        Действующие вещества
                    </h3>
                    <p class="effect__descr">
                        эффективнее мазей и&nbsp;таблеток
                    </p>
                </div>
            </li>
        </ul>
        <div class="effect__img-box">
            <img src="./img/product.png" alt="Curcumin">
        </div>
        <div class="effect__func">
            <h3 class="effect__pack-name">
                DUO C&P
            </h3>
            <p class="effect__text">
                положительно влияет
                на&nbsp;суставы, нейтрализируя свободные радикалы
            </p>
            <a href="" class="effect__btn btn ever-popup-btn">
                Попробовать DUO C&P
            </a>
        </div>
    </div>
</section>
<!-- EFFECT END -->
<!-- RADICAL START -->
<section class="radical block">
    <div class="container">
        <h2 class="title title__radical">
            Что такое свободные радикалы?
        </h2>
        <div class="radical__info">
            <img src="./img/radical-img.png" alt="" class="radical__info-img">
            <div class="radical__right">
                <div class="radical__free">
                    <h4>
                        Свободный радикал —
                    </h4>
                    <p class="radical__free-text">
                        молекула с <b>одним лишним</b>
                        или <b>недостающим электроном.</b>
                    </p>
                </div>
                <p class="radical__main">
                    <b>Главная цель свободного радикала —</b> найти свою электронную пару и нарушить здоровое
                    функционирование другой молекулы.
                </p>
            </div>
        </div>
        <div class="radical__danger danger">
            <h3 class="danger__title">
                Чем свободные радикалы опасны для суставов?
            </h3>
            <ul class="danger__list">
                <li class="danger__item">
                    <div class="danger__icon">
                        !
                    </div>
                    <p class="danger__text">
                        Недостаточное внимание
                        к&nbsp;своему здоровью, постоянный стресс, плохое питание и&nbsp;даже экология провоцируют
                        возникновение
                        свободных радикалов.
                        А&nbsp;игнорирование их – <b>прямой путь к&nbsp;серьезным сбоям
                            в&nbsp;организме и&nbsp;необратимым последствиям.</b>
                    </p>
                </li>
                <li class="danger__item">
                    <div class="danger__icon">
                        !
                    </div>
                    <p class="danger__text">
                        Увеличение количества свободных радикалов
                        и&nbsp;отсутствие антиоксидантов
                        в&nbsp;организме <b>приводят
                            к&nbsp;хроническим воспалениям, боли в&nbsp;суставах и&nbsp;их
                            постепенному разрушению</b>.
                    </p>
                </li>
                <li class="danger__item">
                    <div class="danger__icon">
                        !
                    </div>
                    <p class="danger__text">
                        Свободный радикал способен спровоцировать создание
                        <b>свыше миллиона новых свободных радикалов</b>,
                        разрушающих суставный хрящ и&nbsp;синовиальную жидкость.
                    </p>
                </li>
            </ul>
            <div class="danger__bottom">
                <div class="danger__farm">
                    <div class="danger__farm-title">
                        Фармакология
                        бессильна перед свободными радикалами
                    </div>
                    <div class="danger__descr">
                        НПВС и хондропротекторы лишь снимают симптомы,
                        облегчая на короткое время самочувствие. <b>Но ни
                            одно из лекарств
                            не&nbsp;направлено против свободных радикалов</b> — частиц,
                        которые разрушают соединительную ткань.
                    </div>
                </div>
                <div class="danger__pain">
                    <div class="danger__var_1 danger__var">
                        <div class="danger__show">
                            Они продолжают <span style="color: #ff672b;">разрушать</span> ваши клетки
                        </div>
                    </div>
                    <div class="danger__var_2 danger__var">
                        <div class="danger__show danger__show_2">
                            Вы чувствуете <span style="color: #ff672b; text-transform: uppercase;">боль</span>
                        </div>
                    </div>
                    <div class="danger__var_3 danger__var">
                        <div class="danger__show">
                            Устраняете её,
                            не подозревая <span style="color: #ff672b;">о&nbsp;свободных радикалах</span>
                        </div>
                    </div>
                    <div class="danger__arrow danger__arrow_1">
                        <img src="./img/arrow.png" alt="">
                    </div>
                    <div class="danger__arrow danger__arrow_2">
                        <img src="./img/arrow.png" alt="">
                    </div>
                    <div class="danger__arrow danger__arrow_3">
                        <img src="./img/arrow.png" alt="">
                    </div>
                    <img src="./img/danger-pain.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- RADICAL END -->