<section class="header">
    <div class="container">
        <div class="header__navigation">
            <div class="header__nav-item -first">
                <img src="./img/logo.png" alt="logo">
            </div>
            <div class="header__nav-item">
                <div class="header__nav-link">
                    <div class="header__link-image">
                        <img src="./img/header-icon1.svg" alt="link">
                    </div>
                    <a href="" class="header__link">Отзывы</a>
                </div>
                <div class="header__nav-link">
                    <div class="header__link-image">
                        <img src="./img/header-icon2.svg" alt="link">
                    </div>
                    <a href="" class="header__link">Состав</a>
                </div>
                <div class="header__nav-link">
                    <div class="header__link-image">
                        <img src="./img/header-icon3.svg" alt="link">
                    </div>
                    <a href="" class="header__link">Заказать обратный звонок</a>
                </div>
            </div>
        </div>
    </div>
</section>