.header {
  &__nav-container {
    width: 100%;
    position: fixed;
    min-height: 70px;
    background-color: #ffb400;
    margin: 0 auto;
    z-index: 10;
  }
  &__navigation {
    display: flex;
    width: 100%;
    max-width: 1170px;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 11px 0;
    background-color: #ffb400;
    z-index: 10;
  }
  &__nav-item {
    display: flex;
    width: 100%;
    max-width: 698px;
    &.-first {
      max-width: 143px;
    }
  }
  &__nav-link-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 140px;
    margin-right: 68px;
    &.-composition {
      margin-right: 62px;
    }
    &.-call-box {
      max-width: 308px;
      margin-right: 0;
    }
  }
  &__link-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #ffffff;
    border-radius: 50%;
  }
  &__link {
    position: relative;
    margin-left: 14px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1.1px;
    text-decoration: none;
    color: #342c24;
    border-bottom: 2px dotted #342c24;
    cursor: pointer;
    &:hover {
      transition: 0.7s;
      border-bottom: 2px solid #ffffff;
    }
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      color: transparent;
      background: transparent, url("./../img/dot.png") center no-repeat;
      background-size: cover;
      border-left: 7px solid #ffb400;
      border-right: 7px solid #ffb400;
      top: 24px;
      right: 8px;
      z-index: 2;
      opacity: 0;
    }
    &.-call {
      margin-left: 8px;
    }
  }
  .header__link:hover {
    &:after {
      opacity: 1;
      transition: 0.6s;
    }
  }
  /*______end static-navigation_____*/
  &__background {
    max-height: 757px;
    margin-bottom: 90px;
    padding-top: 105px;
    background: linear-gradient(90deg, #fbf7f3 59.8%, #f7ebdf 40.2%);
  }
  &__title {
    max-width: 751px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
  }
  &__items {
    display: flex;
    width: 100%;
    padding-left: 80px;
  }
  &__item-box {
    &.-preferences {
      max-width: 252px;
      margin-top: 51px;
      letter-spacing: -0.9px;
    }
    &.-form {
      position: relative;
      top: -232px;
      margin-left: 13px;
    }
  }
  &__preference {
    display: block;
    position: relative;
    margin-bottom: 35px;
    color: #000000;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: -80px;
      width: 48px;
      height: 48px;
      box-shadow: 0 3px 13px rgba(229, 216, 203, 0.55);
      border: 1px solid #d4d2d1;
      border-radius: 50%;
      background-color: #ffffff;
      background-size: contain;
    }
    &.-fight:before {
      background: url("./../img/header-icon4.svg") center no-repeat;
    }
    &.-no-pain {
      margin-top: 12px;
      margin-bottom: 30px;
      &:before {
        background: url("./../img/header-icon5.svg") center 0px no-repeat;
      }
    }
    &.-mobility {
      &:before {
        background: url("./../img/header-icon6.png") center 0px no-repeat;
      }
    }
  }
  //product-box
  &__prod-box {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 554px;
    margin-top: 12px;
    &:before {
      display: block;
      position: absolute;
      z-index: -1;
      content: "";
      width: 217px;
      height: 186px;
      bottom: -5px;
      left: -100px;
      background: url("./../img/pack-after-list.png") no-repeat;
    }
    &:after {
      display: block;
      position: absolute;
      z-index: 3;
      content: "";
      width: 288px;
      height: 141px;
      bottom: -45px;
      left: -175px;
      background: url("./../img/product-capsule.png") no-repeat;
    }
  }
}
/*_____________________FORM___*/
.order-form {
  display: block;
  width: 100%;
  max-width: 271px;
  &__title {
    color: #342c24;
    font-size: 37px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2.6px;
  }
  &__price-row {
    display: flex;
    justify-content: space-between;
  }
  &__price-block {
    display: block;
    max-width: 150px;
  }
  &__price-box {
    color: #342c24;

    &.-old {
      position: relative;
      margin-top: 24px;
      margin-left: 8px;
      &:after {
        display: block;
        position: absolute;
        content:"";
        width: 100px;
        height: 1px;
        background: #c5b9ad;
        bottom: -6px;
        left: -7px;
      }
      .x_price_previous {
        position: relative;
        font-size: 34px;
        font-weight: 400;
        &:before {
          display: block;
          position: absolute;
          content: "";
          z-index: 2;
          width: 80px;
          height: 2px;
          background: #ff4800;
          transform: rotate(-16deg);
          top: 18px;
          left: -7px;
        }
        &:after {
          display: block;
          position: absolute;
          content: "";
          z-index: 2;
          width: 80px;
          height: 2px;
          background: #ff4800;
          transform: rotate(16deg);
          top: 18px;
          left: -7px;
        }
      }
      .x_currency {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &.-new {
      margin-top: 14px;
      margin-bottom: 12px;
      .x_price_current {
        font-size: 54px;
        font-weight: 700;
      }
      .x_currency {
        font-size: 18px;
        font-weight: 700;
      }
    }
    sup {
      font-size: 26px;
    }
  }
  &__sale {
    width: 118px;
    height: 118px;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    background-color: #ff4800;
    border-radius: 50%;
    padding-top: 1px;
    padding-left: 11px;
    /* text-align: center; */
    line-height: 116px;
    transform: rotate(-17deg);
    position: relative;
    top: -10px;
    letter-spacing: 0.9px;
    span {
      font-size: 31px;
      margin-left: -11px;
    }
  }
  &__timer-title {
    margin-bottom: 18px;
    padding-top: 21px;
    padding-left: 4px;
    border-top: 1px solid #342c24;
    color: #342c24;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.8px;
    span {
      color: #ff4800;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  &__timer-box {
    .minutes {
      position: relative;
      &:before {
        display: block;
        position: absolute;
        content: ":";
        color: #342c24;
        font-size: 49px;
        left: -22px;
      }
      &:after {
        display: block;
        position: absolute;
        content: ":";
        color: #342c24;
        font-size: 49px;
        top: 0;
        right: -25px;
      }
    }
  }
  &__body-form {

  }
  &__input-box {
    display: block;
    margin-top: 17px;
    input {
      color: #7c7c7c;
      font-size: 18px;
      font-weight: 400;
      padding-left: 14px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #efe2d5;
      background-color: #ffffff;
      line-height: 52px;
    }
  }
  &__order-button {
    margin-top: 30px;
    line-height: 66px;
  }
  &__rules {
    display: block;
    margin: 15px auto 0;
    text-align: center;
    font-size: 18px;
    color: #342c24;
  }

}
@media all and (-ms-high-contrast: none) {
  .order-form__input-box input {
    height: 52px;
  }
  .simple-popup .order-form__price-box.-old::after {
    left: 78px;
  }
  input::-ms-clear { display: none; }
}
@media all and (max-width: 1219px){
  .header {
    &__navigation {
      padding: 10px;
    }
    &__prod-box {
      max-width: 440px;
      margin-top: 113px;
    }
  }
}
@media all and (max-width: 1023px) {
  .header {
    padding: 0 !important;
    &__link {
      font-size: 18px;
    }
    &__nav-container {
      min-height: 28px;
    }
    &__nav-item {
      max-width: 580px;
    }
    &__nav-link-box {
      margin-right: 20px;
      &.-composition {
        margin-right: 20px;
      }
    }
    &__background {
      padding: 80px 0 40px;
      max-height: unset;
      margin-bottom: 0;
      background: #f7ebdf;
    }
    &__title {
      font-size: 38px;
    }
    &__items {
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0;
    }
    &__item-box {

      &.-preferences {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: unset;
        margin-top: 80px;
      }
      &.-form {
        max-width: 272px;
        top: unset;
      }
    }
    &__preference {
      text-align: center;
      font-size: 20px;
      &:before {
        top: -54px;
        left: 50%;
        transform: translateX(-50%);
      }
      &.-no-pain {
        margin-top: unset;
      }
    }
    &__prod-box {
      &:before {
        bottom: -57px;
        left: -8px;
      }
      &:after {
        bottom: -81px;
        left: 43px;
      }
    }
  }
  .order-form__title {
    font-size: 33px;
  }
}

@media all and (max-width: 767px) {
  .header {
    &__navigation {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__nav-item {
      &.-first {
        width: 100%;
        max-width: unset;
        img {
          display: block;
          margin: 0 auto 10px;
        }
      }
    }
    &__background {
      padding: 130px 0 30px;
    }
    &__title {
      font-size: 34px;
    }
    &__preference {
      font-size: 18px;
    }
    &__prod-box {
      max-width: 330px;
      margin-top: 113px;
    }
  }
  .order-form {
    &__title {
      font-size: 24px;
      letter-spacing: -2px;
    }
    &__price-box {
      &.-old {
        margin-top: 7px;
      }
    }
    &__sale {
      width: 100px;
      height: 100px;
      font-size: 34px;
      line-height: 100px;
      top: 9px;
      right: 20px;
    }
    &__timer-title {
      margin-bottom: 10px;
      padding-top: 10px;
    }
    &__input-box {
      margin-top: 10px;
    }
    &__order-button {
      margin-top: 12px;
    }
  }
}
@media all and (max-width: 639px) {
  .header {
    &__background {
      padding: 111px 0 30px;
    }
    &__nav-item {
      max-width: 460px;
    }
    &__nav-link-box {
      max-width: 102px;
    }
    &__link {
      font-size: 16px;
    }
    &__link-image {
      width: 30px;
      height: 30px;
      padding: 3px;
    }
    &__items {
      justify-content: space-around;
    }
    &__item-box {
      &.-form {
        margin: 74px auto 0;
      }
      &.-preferences {
        margin-top: 74px;
      }
    }
    &__prod-box {
      margin-top: 0;
      &:after {
        bottom: -82px;
        left: 66px;
      }
    }
    &__preference {
      margin-bottom: 20px;
      line-height: 22px;
      &.-no-pain {
        margin-bottom: 20px;
      }
    }
  }
}
@media all and (max-width: 479px) {
  .header {
    &__navigation {
      position: relative;
    }
    &__nav-container {
      position: relative;
    }
    &__nav-item {
      &.-first {
        img {
          margin: 0 auto;
        }
      }
      &:nth-child(2) {
        display: none;
      }
    }
    &__background {
      padding: 10px 0 30px;
    }
    &__title {
      font-size: 23px;
      margin-bottom: 10px;
    }
    &__preference {
      padding-left: 65px;
      text-align: left;
      &:before {
      top: 0;
      left: 25px;
      }
    }
    &__item-box {
      &.-preferences {
        max-width: 290px;
        margin-top: 0;
        flex-direction: column;

      }
    }
    &__prod-box {
      max-width: 280px;
      &:after {
        width: 190px;
        height: 77px;
        background-size: cover;
        bottom: -33px;
        left: 78px;
      }
    }
  }
}