<section class="delivery block">
  <div class="container">
    <h2 class="title">
      Закажи доставку <span class="orange-fill text-nowrap">DUO C&amp;P —</span
      ><br />
      запусти процесс восстановления суставов
    </h2>
    <div class="delivery__content">
      <div class="delivery__box delivery--img1">
        <h3 class="delivery__title">Заполните форму заказа</h3>
        <p class="delivery__subtitle">Укажите имя и номер телефона</p>
      </div>
      <div class="delivery__box delivery--img2">
        <h3 class="delivery__title">Примите звонок оператора</h3>
        <p class="delivery__subtitle">
          Специалист проконсультирует
          <span class="text-nowrap">и уточнит</span> адресные данные
        </p>
      </div>
      <div class="delivery__box delivery--img3">
        <h3 class="delivery__title">Оплатите после получения</h3>
        <p class="delivery__subtitle">Предоплата не требуется</p>
      </div>
    </div>
  </div>
</section>
