<section class="feed ">
  <div class="container">
    <h2 class="title">
      Отзывы о <span class="orange-fill text-nowrap">DUO C&amp;P</span>
    </h2>
    <div class="feed__container">
      <div class="feed__content">
        <div class="feed__box">
          <h3 class="feed__name"><b>Алексей, 60 лет,</b> г. Рязань</h3>
          <p class="feed__text">
            У меня был пост травматический артрит. До этого был на
            хондропротекторах какое-то время и особого прогресса не заметил. А
            от обезболивающих начались проблемы с желудком. DUO C&P не только
            убрал отечность и боль в суставах, но и нормализовал работу желудка.
          </p>
          <div class="shadow feed__btn--hide"></div>
          <div class="feed__btn feed__btn--hide"></div>
        </div>
        <div class="feed__box">
          <h3 class="feed__name"><b>Галина, 45 лет,</b> г. Екатеринбург</h3>
          <p class="feed__text">
            Прежде всего хочу отметить очень быструю доставку. Посылка пришла
            буквально через 2 дня после того,<br />
            как я заказала. Заметила большую разницу до курса и после. Не
            чувствую боль при каждом движении, щелчки пропали.
          </p>
          <div class="shadow feed__btn--hide"></div>
          <div class="feed__btn feed__btn--hide"></div>
        </div>
        <div class="feed__box">
          <h3 class="feed__name"><b>Владимир, 54 года,</b> г. Тула</h3>
          <p class="feed__text">
            Жена уже давно все уши прожужжала о пользе куркумина. В капсулах
            конечно его гораздо удобнее пить, чем в чистом виде, да и эффект
            куда заметнее. Чуть больше месяца — и я забыл о ноющих болях.
          </p>
          <div class="shadow feed__btn--hide hide10232"></div>
          <div class="feed__btn feed__btn--hide hide10232"></div>
        </div>
        <div class="feed__box">
          <h3 class="feed__name"><b>Арина, 48 лет,</b> г. Воронеж</h3>
          <p class="feed__text">
            Определенно рекомендую это средство. У меня прошли все проблемы с
            суставами, которые были до приема DUO C&P. Начала больше двигаться,
            даже на йогу пошла.
          </p>
          <div class="shadow feed__btn--hide fe-heed-2 hide1023"></div>
          <div class="feed__btn feed__btn--hide fe-heed-2 hide1023"></div>
        </div>
        <div class="feed__box">
          <h3 class="feed__name"><b>Марина, 56 лет,</b> г. Сочи</h3>
          <p class="feed__text">
            Хочу поблагодарить за препарат. Жалею только, что раньше о нем не
            узнала. Кстати, та куркума, которая продается у нас на лотках с
            приправами и рядом не стояла с той, которая в Индии. Пила и
            добавляла ее в еду какое-то время — эффекта ноль.
          </p>
          <div class="shadow feed__btn--hide"></div>
          <div class="feed__btn feed__btn--hide"></div>
        </div>
        <div class="feed__box">
          <h3 class="feed__name"><b>Светлана, 62 года,</b> г. Москва</h3>
          <p class="feed__text">
            Дуо Си энд Пи не только действует на больное место, но и в целом
            положительно влияет на организм. Для стойкого результата обязательно
            пройдите курс и без перерывов.
          </p>
          <div class="shadow feed__btn--hide fe-heed-2 hide1023"></div>
          <div class="feed__btn feed__btn--hide fe-heed-2 hide1023"></div>
        </div>
        <div class="feed__box">
          <h3 class="feed__name"><b>Леонид, 47 лет,</b> г. Тамбов</h3>
          <p class="feed__text">
            Благодаря DUO C&P, забыл о остеоартрозе плечевого сустава с которым
            мучился несколько лет. Посмотрим что дальше будет, но пока прошло
            полгода после курса и результат на удивление держится.
          </p>
          <div class="shadow feed__btn--hide hide-767 hide10232"></div>
          <div class="feed__btn  feed__btn--hide hide-767 hide10232"></div>
        </div>
        <div class="feed__box">
          <h3 class="feed__name"><b>Дмитрий, 66 лет,</b> г. Саратов</h3>
          <p class="feed__text">
            DUO C&P — качественное средство за приемлемые деньги. До этого
            покупал и более дорогие средства, но они и близко не давали такого
            результата. Несколько раз забывал принять и вообще были мысли
            бросить все, но жена уговорила продолжить. Только сейчас понимаю,
            как жизнь могла повернуться.
          </p>
          <div class="shadow"></div>
          <div class="feed__btn "></div>
        </div>
        <div class="feed__box">
          <h3 class="feed__name"><b>Ольга, 49 лет,</b> г. Москва</h3>
          <p class="feed__text">
            К DUO C&P я пришла после десятков мазей и уколов. Не скажу, что все
            они были пустышками — некоторые помогали, но потом жуткие боли снова
            возвращались. Мануальщик порекомендовал DUO C&P и я благодарю его по
            сей день. Пила капсулы по инструкции — 3 раза в день. Чувствую себя
            прекрасно, более того стали лучше анализы печени и даже похудела на
            4 кг.
          </p>
          <div class="shadow"></div>
          <div class="feed__btn"></div>
        </div>
        <div class="feed__box">
          <h3 class="feed__name"><b>Мария, 53 года,</b> г. Самара</h3>
          <p class="feed__text">
            О пользе куркумы я узнала, когда начал болеть коленный сустав.
            Добавляла ее во все блюда, но боль не проходила (наверное, дозировка
            была не та). Потом соседка рассказала о ДУО СиэндПи и я сразу же его
            заказала. Тут уж я почувствовала практически сразу, что потратила
            деньги не зря. Оплачивать посылку нужно после получения. Заказывайте
            сразу несколько упаковок — так выгоднее.
          </p>
          <div class="shadow"></div>
          <div class="feed__btn"></div>
        </div>
      </div>
      <div class="arrows">
        <div class="arrows__left">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="16"
            viewBox="0 0 18 16"
          >
            <g>
              <g>
                <path
                  d="M7.92.236a.888.888 0 0 1 1.22 0c.33.308.33.825 0 1.131L2.959 7.173h14.176c.475 0 .865.354.865.8 0 .446-.39.813-.865.813H2.959l6.18 5.794c.33.322.33.836 0 1.145a.893.893 0 0 1-1.218 0L.277 8.547a.775.775 0 0 1 0-1.135z"
                />
              </g>
            </g>
          </svg>
        </div>
        <div class="arrows__right">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="16"
            viewBox="0 0 18 16"
          >
            <g>
              <g>
                <path
                  d="M10.079.236a.888.888 0 0 0-1.219 0 .771.771 0 0 0 0 1.131l6.181 5.806H.865c-.475 0-.866.354-.866.8 0 .446.39.813.866.813h14.176L8.86 14.58a.786.786 0 0 0 0 1.145c.341.32.878.32 1.219 0l7.644-7.178a.775.775 0 0 0 0-1.135z"
                />
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
