<section class="use block">
	<div class="container">
		<h2 class="title">Как принимать <span class="orange-fill text-nowrap">DUO C&amp;P</span></h2>
		<div class="use__content">
			<div class="use__info">
				<div class="use-info__box">
					<div class="use-info__img"><img class="use-info__img--position" src="img/use-icon1.png" alt="use"></div>
					<div class="use-info__text">Выпивайте<br> по <span class="orange-fill">одной</span> капсуле</div>
				</div>
				<div class="use-info__box">
					<div class="use-info__img"><img class="use-info__img--size" src="img/use-icon2.png" alt="use"></div>
					<div class="use-info__text">Повторяйте прием<br> <span class="orange-fill text-nowrap">3 раза</span> <span class="text-nowrap">в день</span></div>
				</div>
				<div class="use-info__box">
					<div class="use-info__img"><img src="img/use-icon3.png" alt="use"></div>
					<div class="use-info__text">Принимайте<br> <span class="text-nowrap">не менее</span> <span class="text-nowrap"><span class="orange-fill">30</span> дней</span></div>
				</div>
			</div>
			<div class="use__pack">
				<img src="img/product.png" alt="DUO C&amp;P">
			</div>
			<div class="use__order">
				<div class="use-order__discount">-50<span>%</span></div>
				<div class="use-order__title">Закажи<br> <span class="orange-fill text-nowrap">DUO C&amp;P</span> сейчас  <span class="text-nowrap">и получи</span> скидку</div>
				<div class="use-order__timer-box">
					<div class="use-order__timer-title">До конца<br>
							<span>Акции</span><b>:</b></div>
						<div class="timer-box">
								<div class="hours"></div>
								<span class="sup">:</span>
								<div class="minutes"></div>
								<span class="sup">:</span>
								<div class="seconds"></div>
						</div>
				</div>
				<div class="use-order__btn btn ever-popup-btn">Заказать DUO C&P</div>
			</div>
		</div>
	</div>
</section>