<section class="product block">
	<div class="container">
		<h2 class="title">Куркумин в составе <span class="orange-fill text-nowrap">DUO C&P —</span></h2>
		<p class="subtitle">мощный способ победить свободные радикалы, разрущающие суставы.</p>
		<div class="product__content">
			<div class="product__pack"><img src="img/product-pack.png" alt="DUO C&P"></div>
			<div class="product__text">
			<div class="product__list">
				<div class="product__item product-item--width">
						<div class="product-item__icon body-icon"><img src="img/check.svg" alt="check"></div>
						<div class="product-item__text"><b>Содержит</b><br> 
								суточную норму 
								куркумина</div>
				</div>
				<div class="product__item product-item--width2">
						<div class="product-item__icon body-icon"><img src="img/check.svg" alt="check"></div>
						<div class="product-item__text"><b>Легко</b><br> 
								усваивается</div>
				</div>
				<div class="product__item product-item--width">
						<div class="product-item__icon body-icon"><img src="img/check.svg" alt="check"></div>
						<div class="product-item__text"><b>Нормализует</b><br> 
								количество свободных
								радикалов</div>
				</div>
				<div class="product__item product-item--width2">
						<div class="product-item__icon body-icon"><img src="img/check.svg" alt="check"></div>
						<div class="product-item__text"><b>Возвращает</b><br>  
								здоровье суставам</div>
				</div>
			</div>
			<div class="product__btn btn ever-popup-btn">Заказать</div>
		</div>
		</div>
	</div>
</section>
<section class="composition block">
	<div class="container">
		<h2 class="title"><span class="orange-fill text-nowrap">DUO C&P —</span> идеально сочетание природных компонентов для суставов <span class="text-nowrap">без боли</span> и воспалений</h2>
		<p class="composition__subtitle"><span class="composition__subtitle--color">Внимание:</span> в составе средств с куркумином обязательно должен присутствовать<br>
				<b>компонент пиперин</b> для усиления его усваиваемости</p>
		<div class="composition__capsule">
			<img src="img/composition-capsule.png" alt="capsule">
			<div class="composition__ingredient--left composition__ingredient">Куркумин <span>95<pr>%</pr></span></div>
			<div class="composition__ingredient--right composition__ingredient">Пиперин <span>5<pr>%</pr></span></div>
		</div>

		<div class="composition__content">
			<div class="composition__box">
				<h3 class="composition-box__ftitle">Куркумин - 95%</h3>
				<h4 class="composition-box__title">Стандартизированный экстракт куркумы — <br> это <b>95%</b> действующего вещества куркумина.</h4>
				<ul class="composition-box__list">
					<li class="composition-box__item"><b>Препятствует</b> образованию свободных радикалов</li>
					<li class="composition-box__item"><b>Нейтрализует</b> воспаления и инфекции</li>
					<li class="composition-box__item"><b>Обезболивает и восстанавливает</b> подвижность суставов</li>
				</ul>
			</div>
			<div class="composition__box composition-box__r">
					<h3 class="composition-box__ftitle">Пиперин - 5%</h3>
					<h4 class="composition-box__title">Концентрированный экстракт черного перца<br>
							повышает биодоступность куркумина <b>в 2000%</b>, сохраняя его высокий уровень в крови.</h4>
					<ul class="composition-box__list">
						<li class="composition-box__item"><b>Предотвращает</b> преждевременный вывод
								куркумина из организма</li>
						<li class="composition-box__item"><b>Усиливает</b> функции куркумина </li>
					</ul>
				</div>
		</div>
	</div>
</section>



