<!-- BAD START -->
<section class="bad block">
    <h2 class="title">
        Вера во врачей уже потеряна, а болезнь все не проходит?
    </h2>
    <ul class="bad__list">
        <li class="bad__item">
            <div class="bad__left">
                <img src="./img/bad1.png" alt="">
            </div>
            <div class="bad__right">
                <h3 class="bad__item">
                    Мази
                </h3>
                <p class="bad__descr">
                    кратковременно избавляют от боли
                </p>
            </div>

        </li>
    </ul>
</section>
<!-- BAD END -->