<!-- BAD START -->
<section class="bad block">
    <div class="container">
        <h2 class="title">
            Вера во врачей уже потеряна, а болезнь все не проходит?
        </h2>
        <div class="bad__middle">
            <ul class="bad__list">
                <li class="bad__item bad__item_1">
                    <div class="bad__left">
                        <img src="./img/bad1.png" alt="">
                    </div>
                    <div class="bad__right">
                        <h3 class="bad__name">
                            Мази
                        </h3>
                        <p class="bad__descr">
                            кратковременно избавляют от боли
                        </p>
                    </div>
                </li>
                <li class="bad__item bad__item_2">
                    <div class="bad__left">
                        <img src="./img/bad2.png" alt="">
                    </div>
                    <div class="bad__right">
                        <h3 class="bad__name">
                            Нет гарантии
                        </h3>
                        <p class="bad__descr">
                            устранения болезни
                        </p>
                    </div>
                </li>
                <li class="bad__item bad__item_3">
                    <div class="bad__left">
                        <img src="./img/bad3.png" alt="">
                    </div>
                    <div class="bad__right">
                        <h3 class="bad__name">
                            Таблетки
                        </h3>
                        <p class="bad__descr">
                            вредят желудку, печени, сердцу
                        </p>
                    </div>
                </li>
                <li class="bad__item bad__item_4">
                    <div class="bad__left">
                        <img src="./img/bad4.png" alt="">
                    </div>
                    <div class="bad__right">
                        <h3 class="bad__name">
                            Неоправданно
                        </h3>
                        <p class="bad__descr">
                            дорогое лечение
                        </p>
                    </div>
                </li>
            </ul>
            <div class="bad__center-human">
                <img src="./img/bad-man.png" alt="" class="bad__bg-img">
            </div>
        </div>

        <div class="bad__bottom">
            <h3 class="bad__bot-title">
                Исследования показали:
            </h3>
            <p class="bad__text">
                Привычные в лечении таблетки и мази не оказывают влияния
                на&nbsp;<span>свободные радикалы - а именно они и являются
                    причиной возникновения болей</span>
            </p>
        </div>
    </div>
</section>
<!-- BAD END -->