.kurkumin
	&-top
		padding: 76px 0 93px
		background-color: #fff9ef
	&__list
		display: flex
		justify-content: space-between
	&__item
		width: calc(33.3% - 1.6%)
		position: relative
		padding-left: 100px
		color: #342c24
		font-size: 22px
		line-height: 28px
		&:before
			content: ''
			position: absolute
			width: 60px
			height: 60px
			border: 8px solid #ffdd8b
			top: 0
			left: 0
			border-radius: 50%
			box-sizing: border-box
			background: url(../img/check.svg) no-repeat 50% 50% #ff9c00