<section class="kurkumin">
	<div class="container kurkumin-triangle"></div>
  <div class="kurkumin-top block">
    <div class="container">
      <h2 class="title"><span class="orange-fill">Куркумин</span> — мощная защита суставов <span class="text-nowrap">в борьбе</span> <span class="text-nowrap">со свободными</span> радикалами</h2>
      <div class="kurkumin__list">
        <div class="kurkumin__item"><div class="kurkumin-item__icon body-icon"><img src="img/check.svg" alt="check"></div><div class="kurkumin-item__text"><b>Останавливает</b><br/> процесс деградации<br> хряща</div></div>
        <div class="kurkumin__item"><div class="kurkumin-item__icon body-icon"><img src="img/check.svg" alt="check"></div><div class="kurkumin-item__text"><b>Нормализует</b> состав синовиальной жидкости</div></div>
        <div class="kurkumin__item"><div class="kurkumin-item__icon body-icon"><img src="img/check.svg" alt="check"></div><div class="kurkumin-item__text"><b>Улучшает</b> ответную реакцию организма <span class="text-nowrap">на воспаление</span></div></div>
      </div>
    </div>
	</div>
	<div class="kurkumin-bottom block">
		<div class="container">
			<h2 class="title">Сколько нужно куркумина, <br>
					чтобы победить свободные радикалы?</h2>
				<div class="kurkumin__content">
					<div class="kurkumin__box">
						<div class="kurkumin-box__number">3-5%</div>
						<div class="kurkumin-box__text">куркумина содержиться в специи куркуме</div>
					</div>
					<div class="kurkumin__box">
						<div class="kurkumin-box__number">1 <span>ст.л.</span></div>
						<div class="kurkumin-box__text">куркумы нужно ежедневно употреблять
								для терапевтического эффекта куркумина</div>
					</div>
					<div class="kurkumin__box">
						<div class="kurkumin-box__number">3%</div>
						<div class="kurkumin-box__text">куркумина всасывается в кровь</div>
					</div>
					<div class="kurkumin__box">
						<div class="kurkumin-box__number">97%</div>
						<div class="kurkumin-box__text">куркумина выводится организмом 
								<br>при употреблении чистой куркумы</div>
					</div>
				</div>
		</div>
	</div>
</section>
